.container {
    text-align: center;
    margin: 50px auto;
    width: 90%;
    max-width: 640px;

}

.image-container {

}

.image-container img {
    width: 100%;
    object-fit: cover;
}

.title-container h1 {
    font-family: 'Arial';
    font-weight: 400;
}

.text-container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}